# compiled output
dist/
node_modules/

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# os
.DS_Store

# tests
coverage/
.nyc_output/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# IDE - VSCode
.vscode/
.history/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# specifies intentionally untracked files to ignore when using Git
*~
*.sw[mnpcod]
.tmp
*.tmp.*
UserInterfaceState.xcuserstate
$RECYCLE.BIN/
*.tmp
log.txt

.sourcemaps/
.versions/

# ionic
.ionic/
www/
platforms/
plugins/

# compiled output
/dist/
/tmp/
/out-tsc/
/bazel-out/

# node
/node_modules/
npm-debug.log
yarn-error.log

# miscellaneous
.angular/
.angular/cache/
.sass-cache/
.nx/
.nx/cache/
connect.lock
libpeerconnection.log
testem.log
typings/

# system files
.DS_Store
Thumbs.db
